<h1 class="text-center" mat-dialog-title>Create a New Category</h1>
<div mat-dialog-content [formGroup]="categoryForm">
  <mat-form-field appearance="outline">
    <mat-label>New Catgory</mat-label>
    <input
      matInput
      placeholder="Create a New Category"
      formControlName="name"
      cdkFocusInitial
      (keyup.enter)="onAdd()"
    />
    <mat-error *ngIf="hasError('name', 'required')"
      >Category is <b>required</b>.</mat-error
    >
    <mat-error *ngIf="hasError('name', 'duplicatedCategory')"
      >This category already <b>exists</b>.</mat-error
    >
  </mat-form-field>
</div>
<div class="d-flex justify-content-between" mat-dialog-actions>
  <button class="btn-cancel" mat-raised-button (click)="onCancel()">
    Cancel
  </button>
  <button
    class="btn"
    mat-raised-button
    color="primary"
    (click)="onAdd()"
    [disabled]="!categoryForm.valid"
  >
    Add
  </button>
</div>
